@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#bg {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.395), rgba(0, 0, 0, 0.354)), url('./assets/people.avif');
    background-position: center;
    background-size: cover;
}

#root {
    transition: all ease-in-out .5s;
    scroll-behavior: smooth;
}

#require {
    height: 130vh;
}

#team-h {
    height: 130vh;
}

.h-screen {
    height: 150vh;
}