@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#bg {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.395), rgba(0, 0, 0, 0.354)), url('./assets/people.avif');
    background-position: center;
    background-size: cover;
}

#root {
    transition: all ease-in-out .5s;
    scroll-behavior: smooth;
}